.articles {
  padding-top: 2rem;
  background-color: var(--accent);

  @include _3xl {
    padding-top: 7.1rem;
  }

  &__title {
    margin-bottom: 3rem;
    margin-right: 2.2rem;

    @include _3xl {
      margin-bottom: 5.7rem;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 1rem;

      @include _3xl {
        margin-bottom: 3.1rem;
      }
    }
  }

  &__info {
    @include _lg {
      padding-left: 1rem;
      padding-right: 2rem;
    }

    @include _3xl {
      padding-left: 17.5rem;
      padding-top: 5.2rem;
      padding-right: 15.4rem;
    }

    &--pd {
      @include _3xl {
        padding-top: 4.5rem;
      }
    }
  }

  &__heading {
    margin-bottom: 1.1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.5;

    @include _3xl {
      font-size: 1.8rem;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 2rem;

    @include _lg {
      font-size: 1.4rem;
      margin-bottom: 4.1rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__tags {
    font-size: 0.7rem;

    @include _lg {
      font-size: 1.4rem;
    }

    @include _3xl {
      letter-spacing: 0.2rem;
      font-size: 1.8rem;
      margin-bottom: 0.3rem;
    }

    span {
      &:last-child {
        margin-right: 0.2rem;
      }

      &:nth-child(2) {
        margin-right: 0.5rem;
      }

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__btn {
    width: 12.9rem;
    height: 4.7rem;
    padding-top: 1.3rem;
    letter-spacing: 0.1rem;
  }
}
