.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/img/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16.2rem 0.75rem 8rem;
  color: var(--white);
  text-transform: uppercase;

  @include _3xl {
    padding-bottom: 15.2rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10.5rem 1.8rem;
    border: 0.4rem solid var(--white);
    margin-bottom: 8.2rem;

    @include _xs {
      padding: 10.5rem 5.8rem;
    }
  }

  &__title {
    font-family: "Post No Bills";
    font-size: 6rem;
    border-bottom: 0.2rem solid var(--white);
    margin-bottom: 1.3rem;
    line-height: 1;

    @include _sm {
      font-size: 6.4rem;
    }
  }

  &__sub-title {
    font-size: 1.8rem;

    @include _sm {
      font-size: 2.2rem;
    }
  }

  &__description {
    max-width: 75rem;
    text-align: center;
    line-height: 150%;
    font-size: 1.4rem;

    @include _sm {
      font-size: 1.6rem;
    }
  }
}
