.new-arrival {
  padding-top: 2rem;
  background-color: var(--black);

  @include _lg {
    padding-bottom: 2rem;
  }

  @include _3xl {
    padding-top: 12.5rem;
    padding-bottom: 15rem;
  }

  &__title {
    margin-bottom: 3rem;

    @include _3xl {
      margin-bottom: 8.3rem;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__col {
    @include _3xl {
      &:nth-child(3) {
        max-height: 20px;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 18.6rem;
    height: 4.8rem;
  }
}
