.partners {
  background-color: var(--accent);
  text-align: center;
  padding: 3rem 8.5rem;

  @include _3xl {
    padding: 9.5rem 1.5rem 10.4rem;
  }

  &__title {
    @include _3xl {
      margin-bottom: 7.2rem;
    }

    &::after {
      margin-top: 4.8rem;
    }
  }

  &__row {
    align-items: center;
    @include _3xl {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }

  &__col {
    @include _3xl {
      &:first-child {
        width: 369px;
      }
      &:nth-child(2) {
        width: 279px;
        margin-top: -0.4rem;
      }
      &:nth-child(3) {
        width: 271px;
        align-self: flex-start;
      }
      &:last-child {
        width: 376px;
      }
    }

    &:hover .partners__logo {
      transform: scale(1.1);
    }
  }

  &__link {
    display: block;
  }

  &__logo {
    width: 100%;

    @include _lg {
      width: auto;
    }

    @include _3xl {
      &--coco {
        padding-top: 1.2rem;
        width: 36.9rem;
        height: 15.2rem;
      }
      &--rolex {
        width: 27.9rem;
        height: 18.5rem;
      }
      &--breguet {
        width: 27.1rem;
        height: 17rem;
      }
      &--haven {
        padding-top: 0.5rem;
        width: 37.6rem;
        height: 15.3rem;
      }
    }
    transition: transform 0.5s ease-in-out;
  }
}
