.partners {
  background-color: var(--accent);
  text-align: center;
  padding: 3rem 1.5rem;

  @include _3xl {
    padding-top: 9.8rem;
    padding-bottom: 10.4rem;
  }

  &__title {
    @include _3xl {
      margin-bottom: 8.2rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    // @include _lg {
    //   max-width: 75rem;
    // }

    // @include _3xl {
    //   max-width: 138.5rem;
    // }
  }

  &__col {
    transition: all 0.5s ease-in-out;

    @include _3xl {
      &:first-child {
        width: 369px;
      }
      &:nth-child(2) {
        width: 279px;
        margin-top: -0.4rem;
      }
      &:nth-child(3) {
        width: 271px;
        align-self: flex-start;
      }
      &:last-child {
        width: 376px;
      }
    }

    &:hover .partners__logo {
      transform: scale(1.2);
    }
  }

  &__link {
    display: block;
  }

  &__logo {
    transition: all 0.5s ease-in-out;
  }
}
