@font-face {
  font-family: 'Playfair';
  src: url("../assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url("../assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Post No Bills';
  src: url("../assets/fonts/PostNoBillsJaffna-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../assets/fonts/PTSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --accent: #0f0f0f;
  --black: #000;
  --white: #fff;
  --gluon-gray: #191b1C;
  --shark-fin: #969696;
  --light-gray: #d0d0d0;
  --content-width: 1112px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", serif;
  color: var(--white);
  max-width: 192rem;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Playfair';
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.6rem;
  }
}

.title::after {
  content: '';
  display: block;
  width: 8rem;
  height: 0.1rem;
  background-color: var(--white);
  margin-top: 1.7rem;
}

@media (min-width: 768px) {
  .title::after {
    margin-top: 3.7rem;
    width: 12rem;
  }
}

.watch-card {
  background-color: var(--black);
  font-family: 'Playfair';
  font-weight: 400;
  font-size: 1.8rem;
  border: none;
}

.watch-card__img-wrapper {
  padding: 1.4rem 7rem 2.5rem;
  background-color: var(--gluon-gray);
  margin-bottom: 1rem;
}

@media (min-width: 399px) {
  .watch-card__img-wrapper {
    padding: 3.5rem 10rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 576px) {
  .watch-card__img-wrapper {
    padding: 3.5rem 4rem;
  }
}

@media (min-width: 1200px) {
  .watch-card__img-wrapper {
    padding: 3.5rem 1rem;
  }
}

@media (min-width: 1900px) {
  .watch-card__img-wrapper {
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
  }
}

.watch-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.watch-card__description {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--black);
  color: var(--white);
  padding-top: 0;
  padding-bottom: 0;
}

.watch-card__price {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--light-gray);
}

.watch-card__wrapper {
  position: relative;
}

.watch-card__link:hover .watch-card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button {
  display: block;
  padding: 1rem 1.5rem;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  border: 0.1rem solid var(--white);
  color: var(--white);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button:hover {
  color: var(--gluon-gray);
  background-color: var(--white);
}

@media (min-width: 576px) {
  .button {
    font-size: 1.8rem;
  }
}

.blur {
  -webkit-filter: blur(0.2rem) brightness(0.6);
          filter: blur(0.2rem) brightness(0.6);
}

.header .contacts {
  background-color: var(--black);
  color: var(--shark-fin);
  padding: 1.2rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.header .contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.header .contacts__phone span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contacts__phone span::before {
  content: '';
  display: block;
  width: 0.1rem;
  height: 1.2rem;
  background-color: var(--shark-fin);
  margin: 0 0.9rem;
}

.header .contacts__login {
  text-align: right;
}

.header .contacts__link {
  color: var(--shark-fin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.header .contacts__link:hover {
  color: var(--white);
}

.header .contacts__icon {
  margin-right: 1rem;
}

@media (min-width: 1900px) {
  .header .contacts__icon {
    margin-right: 2rem;
  }
}

.header .contacts__icon__icon_mr {
  margin-right: 1rem;
}

@media (min-width: 1900px) {
  .header .contacts__icon__icon_mr {
    margin-right: 1.4rem;
  }
}

.header .navigation {
  background-color: var(--accent);
  padding: 1rem 0.75rem;
}

@media (min-width: 992px) {
  .header .navigation {
    padding: 0 0.75rem;
  }
}

@media (min-width: 1900px) {
  .header .navigation {
    height: 8rem;
    padding: 2rem 0.75rem;
  }
}

.header .navigation button {
  background-color: var(--white);
}

.header .navigation .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header .navigation .menu__item {
    margin-left: 2rem;
  }
}

@media (min-width: 1900px) {
  .header .navigation .menu__item:last-child, .header .navigation .menu__item:nth-child(4) {
    margin-left: 3.2rem;
  }
}

.header .navigation .menu__link {
  color: var(--shark-fin);
  text-transform: uppercase;
  height: 100%;
}

@media (min-width: 992px) {
  .header .navigation .menu__link {
    padding: 3rem 2rem;
  }
}

.header .navigation .menu__link:hover {
  color: var(--white);
}

@media (min-width: 992px) {
  .header .navigation .menu__link:hover {
    background-color: #1F1F1F;
  }
}

.header .navigation .menu__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .navigation .logo {
  font-family: 'Post No Bills';
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  padding: 0;
  margin-top: 0.7rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/img/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16rem 0.75rem 8rem;
  color: var(--white);
  text-transform: uppercase;
}

@media (min-width: 1900px) {
  .hero {
    padding-bottom: 15.5rem;
  }
}

.hero__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10.5rem 5.8rem;
  border: 0.4rem solid var(--white);
  margin-bottom: 8.2rem;
}

.hero__title {
  font-family: 'Post No Bills';
  font-size: 6rem;
  border-bottom: 0.2rem solid var(--white);
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

@media (min-width: 576px) {
  .hero__title {
    font-size: 6.4rem;
  }
}

.hero__sub-title {
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  .hero__sub-title {
    font-size: 2.2rem;
  }
}

.hero__description {
  max-width: 75rem;
  text-align: center;
  line-height: 150%;
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .hero__description {
    font-size: 1.6rem;
  }
}

.collection {
  background-color: var(--black);
}

.collection .season-block {
  padding: 3rem 0.75rem;
}

@media (min-width: 1900px) {
  .collection .season-block {
    padding-top: 9.7rem;
    padding-left: 7.3rem;
  }
}

.collection .season-block__title {
  margin-bottom: 3rem;
}

@media (min-width: 1900px) {
  .collection .season-block__title {
    margin-bottom: 5rem;
  }
}

.collection .new-collection-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1900px) {
  .collection .new-collection-block {
    padding-left: 7.4rem;
  }
}

.collection .new-collection-block__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1900px) {
  .collection .new-collection-block__wrapper {
    bottom: 10.6rem;
    left: 36.5rem;
  }
}

.collection .new-collection-block__title {
  margin-bottom: 3rem;
}

@media (min-width: 1900px) {
  .collection .new-collection-block__title::after {
    margin-top: 2rem;
  }
}

.collection .new-collection-block__img {
  width: 100%;
}

.collection .image-block__img {
  width: 100%;
}

.collection .collection-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1.5rem;
}

@media (min-width: 1900px) {
  .collection .collection-block {
    padding-top: 2rem;
    padding-right: 7.1rem;
  }
}

.collection .collection-block__title {
  font-weight: 400;
  margin-bottom: 2rem;
}

@media (min-width: 1900px) {
  .collection .collection-block__title {
    margin-bottom: 3.6rem;
  }
}

.collection .collection-block__description {
  max-width: 62.8rem;
  font-size: 1.2rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .collection .collection-block__description {
    margin-bottom: 6.9rem;
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.collection__btn {
  letter-spacing: 0.1em;
}

@media (min-width: 1900px) {
  .collection__btn {
    display: inline-block;
    padding: 1rem 2.5rem;
  }
}

.new-arrival {
  padding-top: 2rem;
  background-color: var(--black);
}

@media (min-width: 992px) {
  .new-arrival {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1900px) {
  .new-arrival {
    padding-top: 11.5rem;
    padding-bottom: 15rem;
  }
}

.new-arrival__title {
  margin-bottom: 3rem;
}

@media (min-width: 1900px) {
  .new-arrival__title {
    margin-bottom: 8.2rem;
  }
}

.new-arrival__row:not(:last-child) {
  margin-bottom: 4rem;
}

@media (min-width: 1900px) {
  .new-arrival__col:nth-child(3) {
    max-height: 20px;
  }
}

.new-arrival__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 18.6rem;
}

.articles {
  padding-top: 2rem;
  background-color: var(--accent);
}

@media (min-width: 1900px) {
  .articles {
    padding-top: 7.1rem;
  }
}

.articles__title {
  margin-bottom: 3rem;
}

@media (min-width: 1900px) {
  .articles__title {
    margin-bottom: 5.7rem;
  }
}

.articles__row:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 1900px) {
  .articles__row:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.articles__img {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .articles__info {
    padding-left: 1rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1900px) {
  .articles__info {
    padding-left: 17.5rem;
    padding-top: 5.2rem;
    padding-right: 14.4rem;
  }
}

.articles__heading {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.5;
}

@media (min-width: 1900px) {
  .articles__heading {
    font-size: 1.8rem;
  }
}

.articles__description {
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .articles__description {
    font-size: 1.4rem;
    margin-bottom: 3.8rem;
  }
}

.articles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.articles__tags {
  font-size: 0.7rem;
}

@media (min-width: 992px) {
  .articles__tags {
    font-size: 1.4rem;
  }
}

@media (min-width: 1900px) {
  .articles__tags {
    font-size: 1.8rem;
  }
}

.articles__tags span:not(:first-child) {
  margin-left: 1rem;
}

@media (min-width: 1900px) {
  .articles__tags span:not(:first-child) {
    margin-left: 1.4rem;
  }
}

.partners {
  background-color: var(--accent);
  text-align: center;
  padding: 3rem 1.5rem;
}

@media (min-width: 1900px) {
  .partners {
    padding-top: 9.1rem;
  }
}

@media (min-width: 1900px) {
  .partners__title {
    margin-bottom: 8.2rem;
  }
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .partners__row {
    max-width: 75rem;
  }
}

@media (min-width: 1900px) {
  .partners__row {
    max-width: 138.5rem;
  }
}

.partners__col {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.partners__col:not(:last-child) {
  margin-bottom: 1.5rem;
}

.partners__col:last-child {
  margin-top: 2rem;
}

.partners__col:hover .partners__logo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.partners__link {
  display: block;
}

.partners__logo {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  max-width: 23rem;
}

@media (min-width: 1900px) {
  .partners__logo {
    width: 100%;
  }
}

.footer {
  padding: 2rem 0;
  background-image: url("../assets/img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1900px) {
  .footer {
    padding-top: 14.4rem;
  }
}

@media (min-width: 768px) {
  .footer__col:nth-child(2) {
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
  .footer__col {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 992px) {
  .footer__col {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__col:not(:last-child) {
  margin-bottom: 3rem;
}

.footer__heading {
  font-family: 'Playfair';
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 1900px) {
  .footer__heading {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    text-align: left;
  }
}

.footer__description {
  font-size: 1.2rem;
  line-height: 150%;
}

@media (min-width: 1900px) {
  .footer__description {
    font-size: 1.4rem;
  }
}

.footer__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.6rem;
}

.footer__link {
  padding: 1rem 2rem;
  color: var(--white);
  text-transform: lowercase;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--light-gray);
  background-color: #0f0f0f;
  text-align: center;
  border: 1px solid transparent;
}

.footer__link:nth-child(5) {
  margin-left: 0.4rem;
}

.footer__link:hover {
  border: 1px solid var(--white);
  color: var(--white);
}

@media (min-width: 1900px) {
  .footer__link {
    margin-bottom: 1.6rem;
  }
}

.footer__form {
  margin-top: 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1900px) {
  .footer__form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer__input {
  width: 21rem;
  height: 4.2rem;
  padding-left: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer__input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #969696;
}

.footer__input:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #969696;
}

.footer__input::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #969696;
}

.footer__input::placeholder {
  font-size: 1.4rem;
  color: #969696;
}

.footer__btn {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  background-color: #0f0f0f;
  padding: 1rem 2rem;
}

.footer__btn:hover {
  background-color: var(--light-gray);
  color: var(--accent);
}

.footer .copyright {
  position: relative;
  bottom: -6rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  background-color: var(--accent);
  font-size: 1.2rem;
  color: var(--light-gray);
}

@media (min-width: 1900px) {
  .footer .copyright {
    bottom: -3rem;
  }
}

.footer .copyright__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .copyright__link {
  color: var(--light-gray);
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */